.player{
    background-color: green;
    border-radius: 50%;
    position: relative;
}

.enemy{
    background-color: red;
    /* border-radius: 50%; */
    position: absolute;
}

.direcional{
    width: 60px;
    height: 60px;
}